@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    --gradient: linear-gradient(90deg, #637cbb60, #485e9559);
    --ghost-white: #f8f9fd;
    --fire-bush: #e99c2f;
    --granite-gray: #626a6a;
    --baltic-sea: #33383c;
    --trans: all 0.5s ease-in-out;
}

*::selection {
    background: white;
    color: #333;
}

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

body {
    line-height: 1.5;
    font-weight: 400;
    background: #333;
}


img {
    display: block;

}

button {
    cursor: pointer;
    outline: 0;
}

a {
    text-decoration: none;
    color: #000;
}


.text {
    font-size: 1.1rem;
    margin: 1.2rem 0;
    line-height: 1.7;
    opacity: 0.7;
}



/* HEADER */
header {
    background: var(--ghost-white);
}

header .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: 100%;
    padding: 1.5rem 1rem !important;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 1.5rem 0;
    background: var(--gradient);
    z-index: 999;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    justify-self: flex-start;
}

.navbar-toggler {
    justify-self: center;
    border: none;
    color: #222;
    background: rgba(255, 255, 255, 0.618);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 1.5rem;
    position: relative;
}

.navbar-collapse {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: 100%;
    height: 0;
    overflow: hidden;
    background: pink;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}


.show-navbar {
    height: 204px;
}

.navbar-collapse ul {
    list-style: none;
}

.navbar-collapse li {
    margin: 0.7rem 0;
    letter-spacing: 2px;
    text-align: center;
}

.navbar-collapse a {
    font-size: 1.15rem;
    opacity: 0.7;
}



.cart {
    justify-self: flex-end;
    padding-right: 8px;
}

#cart-btn {
    border: none;
    font-size: 1.5rem;
    background: none;
    color: white;
    position: relative;
}

#cart-count-info {
    position: absolute;
    top: -12px;
    right: -8px;
    background: var(--fire-bush);
    color: #fff;
    font-size: 1rem;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.cart-container {
    position: absolute;
    overflow-y: scroll;
    background: #23272aaf;
    width: 100%;
    height: 600px;
    top: 100%;
    left: 0;
    right: 0;
    box-shadow: 0 3px 8px -2px rgba(0, 0, 0, 0.21);
    display: none;
}

.cart-container::-webkit-scrollbar {
    width: 8px;
}

.cart-container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

/* js related class */
.show-cart-container {
    display: block;
}

/*  */
.cart-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5rem;
    align-items: center;
    position: relative;
    padding: 1.2rem 0.6rem;
    height: 140px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.21);
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item-del-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 0.05rem 0.45rem;
    font-size: 1.4rem;
    background: var(--fire-bush);
    border: none;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.cart-item img {
    width: 80px;
}

.cart-item-info {
    text-align: center;
}

.cart-item-info span {
    display: block;
}

.cart-total {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: var(--fire-bush);
    color: #fff;
}

.cart-total h3 {
    margin-right: 0.2rem;
    font-size: 1.3rem;
}

#cart-total-value {
    font-size: 1.3rem;
    font-weight: 500;
}

/* BANNER  */

.banner {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 9rem;
    background: linear-gradient(rgba(204, 192, 192, 0.5), rgba(57, 57, 84, 0.535)),
        url(/Assets/Depositphotos_19561961_original_2.jpg) no-repeat;
}

.banner h1 {
    font-size: 10rem;
    color: white;
    text-transform: capitalize;
    font-family: 'Lobster', cursive;
    text-align: center;
}



.banner .text {
    font-size: 2rem;
    color: black;
    font-weight: 600;
    padding: 1rem 0;
    text-align: center;
}

.btns {
    margin: 1.5rem 0;
}

.btn {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid var(--fire-bush);
    background: var(--fire-bush);
    color: #fff;
    padding: 0.95rem 0;
    letter-spacing: 2px;
    display: block;
    width: 180px;
    margin: 0.6rem auto;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}

/*----------------CORE FEATURES SECTIONS-----------------*/

.heading {
    text-align: center;
    font-size: 2rem;
    color: white;
    padding: 1rem;
    padding-top: 5rem;
    width: 50rem;
    margin: 0 auto;
}

.core {
    min-height: 100vh;
}

.core .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.core .row .image {
    text-align: center;

}

.core .row .image img {
    height: 65vh;
    padding: 1rem;
}

.core .row .boxContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 1 20rem;
}

.core .row .boxContainer .box {
    margin: 1rem;
    padding: 1rem;
    width: 20rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
    background: #444;
    border-radius: 5px;
}

.core .row .boxContainer .box:hover {
    background: var(--gradient);
}

.core .row .boxContainer .box:hover i {
    color: white;
}

.core .row .boxContainer .box h3 {
    font-size: 1.5rem;
    color: white;
    padding: 1rem 0;
}

.core .row .boxContainer .box h3 i {
    color: #637cBB;
    padding-right: .5rem;
}

.core .row .boxContainer .box p {
    font-size: 1rem;
    color: white;
    padding: 1rem 0;
}



.btns .btn:last-child {
    color: var(--fire-bush);
    background: transparent;
}

.btns .btn:first-child:hover {
    background: transparent;
    color: var(--fire-bush);
}

.btns .btn:last-child:hover {
    background: var(--fire-bush);
    color: #fff;
}

/* products */
.products {
    padding: 6rem;
    background: #626a6a;
}

.products h2 {
    text-align: center;
    font-size: 2rem;
    color: white;
    padding: 1rem;
    padding-top: .5rem;
    width: 50rem;
    margin: 0 auto;
}

.product-item {
    margin: 1rem 0;
}

.product-img {
    background: var(--ghost-white);
    padding: 3rem 0;
    height: 350px;
    position: relative;
}

.product-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 60%;
    margin: 0 auto;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}

.product-img:hover img {
    opacity: 0.8;
}

.product-content {
    padding: 1.6rem 0;
    text-align: center;
}

.add-to-cart-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border: none;
    padding: 0.75rem 1.2rem;
    font-size: 1.05rem;
    background-color: var(--baltic-sea);
    color: #fff;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
    opacity: 0;
}

.product-item:hover .add-to-cart-btn {
    opacity: 1;
}

.add-to-cart-btn .fas {
    margin-right: 0.4rem;
}

.add-to-cart-btn:hover {
    background-color: #23272a;
}

.add-to-cart-btn:hover {
    color: var(--fire-bush);
}

.product-name {
    font-size: 1.3rem;
    color: var(--baltic-sea);
}

.product-category {
    margin: 0.8rem 0;
    display: inline-block;
    font-weight: 500;
    background: var(--fire-bush);
    color: #fff;
    padding: 0.05rem 1.5rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    letter-spacing: 2px;
}

.product-price {
    font-size: 1.15rem;
    font-weight: 500;
    opacity: 0.6;
}

footer {
    background-color: var(--baltic-sea);
}


.footer-banner {
    color: #fff;
    text-align: center;
}

.footer-banner h2 {
    font-size: 2.4rem;
}

.footer-banner .btn {
    margin-top: 2rem;
}

.footer-banner .btn:hover {
    background: #fff;
    color: var(--fire-bush);
    background: transparent;
}

footer>.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons {
    display: flex;
    padding: 3rem 0;
}

.social-icons a {
    color: var(--granite-gray);
    margin: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 1.25rem;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}

.social-icons a:hover {
    color: #fff;
}



/*----RESPPONSIVE----*/

@media screen and (min-width: 480px) {

    /* header */
    .btns button {
        display: inline-block;
    }

    .btns button:first-child {
        margin-right: 0.4rem;
    }

    .banner h1 {
        font-size: 5rem;
    }

    .banner .text {
        font-size: 1rem;
    }
}



@media screen and (min-width: 680px) {
    .navbar {
        padding: 1.5rem 3rem !important;
    }

    .cart-container {
        width: 480px;
        left: auto;
        right: 3rem;
    }

    .product-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

@media screen and (min-width: 992px) {
    .navbar {
        padding: 1.5rem 6rem !important;
    }

    .cart-container {
        right: 6rem;
    }

    .banner {
        padding-top: 0;
        display: grid;
        grid-template-columns: 55% 45%;
        align-content: center;
    }

    .banner-content {
        text-align: left;
    }

    .product-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-banner {
        text-align: left;
    }

    .footer-banner .text {
        width: 60%;
    }

    .footer-banner .btn {
        margin-left: 0;
    }
}

@media screen and (min-width: 1200px) {
    .navbar {
        padding: 1.5rem 14rem !important;
    }

    .cart-container {
        right: 14rem;
    }

    .banner-content h1 {
        font-size: 2rem;
    }

    .product-list {
        grid-template-columns: repeat(4, 1fr);
    }

    .banner h1 {
        font-size: 5rem;
    }
}